In [1]:
using CSV, DataFrames

In [2]:
df = CSV.read("sample.csv", DataFrame)

3×3 DataFrame
 Row │ A      B        C
     │ Int64  String1  Float64
─────┼─────────────────────────
   1 │     1  x           20.0
   2 │     2  y           50.4
   3 │     3  z          275.0

In [4]:
(3, 3) == size(df)

true